@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url(./Montserrat-Regular.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url(./Montserrat-thin.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url(./Montserrat-Light.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url(./Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url(./Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url(./Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: local('montserrat'), url(./Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}